
# Ignore the PythonBackend dist folder and old binary
PythonBackend/dist/
PythonBackend/build/
RemoveThatBG\!/RemoveThatBG/remove_bg_old

#do not ignore this
!RemoveThatBG\!/RemoveThatBG/remove_bg/


#HERE
__pycache__/
.DS_Store


# Env files / secrets
.env
.env.*

# Bundle artifacts
*.app

# Other
*.lock



