
# Ignore the PythonBackend dist folder and old binary
PythonBackend/dist/
PythonBackend/build/
RemoveThatBG\!/RemoveThatBG/remove_bg_old

#IGNORE THE OUTUT OF THE remove_bg.spec FILE if you really want it you copy and paste it XCODE
RemoveThatBG\!/RemoveThatBG/remove_bg/

Releases/v1.0/RemoveThatBG\!.app/**
Releases/**


#HERE
__pycache__/
.DS_Store


# Env files / secrets
.env
.env.*

# Bundle artifacts
*.app

# Other
*.lock
